fastapi
fastapi-offline
uvicorn
gunicorn
aiofiles
requests
httpx
python-multipart
ujson
msgpack
tqdm
icc-rt
numba
opencv-python-headless==4.8.0.76
scikit-image
onnx==1.17.0
onnxruntime==1.16.3
PyTurboJPEG==1.7.0
exifread
tritonclient[http,grpc]
imageio
aiohttp
tenacity
colorlog
insightface==0.7.3
